body{
    background-color: white;
    height:1000px;
}
.chelbox{
    background-color: white;
    height:500px;
}
.alphabet_box{
    width:100%;
height:100px;
background-color: aliceblue;
display: flex;
gap: 2px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 500px;
}
.alphabetLetter{
    border: 1px solid #000;
    width:40px;
    text-align: center;
}
.vertical{
    border: 1px ;
width: 100px;
}
.gorizontNIZ{ 
    border: 2px solid black; 
    width: 50%; 
    margin: 20px;
}
