body{
    background-color: white;
    height:1000px;
}
.chelbox{
    background-color: white;
    height:500px;
}
.alphabet_box{
    width:100%;
height:100px;
background-color: aliceblue;
display: flex;
gap: 2px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 500px;
}
.alphabetLetter{
    border: 1px solid #000;
    width:40px;
    text-align: center;
}
.word{
    display: flex;
    justify-content: center;
}
.wordbox{
border: 2px solid black;
height: 100px;
}
.box{
    background-color: indianred;
    height: 100px;
}
.let{
    margin: 10px;
    border:2px solid black;
    padding: 10px;
}
.hide_palka_1{
    width: 2px; 
    height: 350px;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide_palka_2{
    width: 25%;
            height: 2px; 
            background-color: black; 
            margin: 20px 0;
}   
.hide_palka_3{
    width: 25%;
    height: 2px; 
    background-color: black; 
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}