body {
    margin: 0;
}

.gameboard {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    position: relative;
}








.card__front {
    border-radius: 8px;
    z-index: 1;
    position: relative;
    background-color: rgb(135, 197, 197);
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    transition: transform .3s linear;
}

.card__back {
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 8px;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    background-color: rgb(78, 134, 134);
    transform: rotateY(-180deg);
    transition: transform .5s cubic-bezier(.2, .85, .4, 1.275);
}

/* .card:hover .card__back {
    transform: rotateY(0deg);
    z-index: 2;
} */

.active__back{
    transform: rotateY(0deg);
    z-index: 2;
}

/* .card:hover .card__front {
    transform: rotateY(180deg);
    z-index: -1;
} */

.active__front{
    transform: rotateY(180deg);
    z-index: -1;
}