.switch{
    width: 300px;
    height: 130px;
    background-color: rgb(255, 213, 0);
    border: 5px solid rgb(206, 141, 0);
    border-radius: 70px;
    transition: all 0.8s ease;
}
.eye{
    margin-left: 0;
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    border: 5px solid rgb(177, 177, 177);
    position: relative;
    overflow: hidden;
    transition: all 0.8s ease ;
}
.cherniy{
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 70px;
    position: absolute;
    right: 10px;
    top: 20px;
    transition: all 0.8s ease;
}
.blick{
    width: 4px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    position: absolute;
    right: 5px;
    top: 10px;
    transition: all 0.8s ease;
}
.veko{
    width: 140px;
    height: 80px;
    background-color: rgb(177, 177, 177);
    position: relative;
    transform: rotate(-15deg) translateX(-20px) translateY(-120px);
    transition: all 0.8s ease;
}
.closedswitch{
    background-color: rgb(4, 0, 127);
    border: 5px solid rgb(14, 0, 71);
    transition: all 0.8s ease;
}
.closedeye{
   margin-left: 170px;
   transition: all 0.8s ease;
}
.closedblack{
    right: 10px;
    top: 55px;
     transition: all 0.8s ease;
}
.closedblick{
    right: 5px;
    top: 20px;
     transition: all 0.8s ease;
}
.closedveko{
    transform: rotate(-15deg) translateX(-20px) translateY(-10px);
    transition: all 0.8s ease;
}