body{
    background-color: rgb(31, 64, 94);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.kakulator{
    background-color:#1e293b;
    height: 470px;
    width: 320px;
    margin: auto;
    border: 3px solid #192230;
    border-radius: 15px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.back{
    margin:auto; 
    width: 290px;
    height: 70px;
    background-color: #0f172a;
    border-radius: 15px;
}
.buttons{
    display: grid;
    gap: 15px;
    margin: 20px;
    grid-template-columns: repeat(4, 60px);
}
.butt{
    background-color: rgb(35, 79, 123);
    width: 60px;
    height: 50px;
    border: none;
    border-radius: 13px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 30px;
    display: flex;
    color: white;
    border: 3px solid #273751;
}
.Bigbutt{
    background-color: rgb(35, 98, 162);
    width: 135px;
    height: 50px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 30px;
    display: flex;
    color: white;
    border-radius: 13px;
    border: 3px solid rgb(28, 81, 133);
}
.name{
    width: 100%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.sum{
    margin-bottom: 5px;
    font-size: 50px;
    padding: 6px;
    text-align: right;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: white;
}