* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
<<<<<<< HEAD
=======
    background-color:white;
}

.card-container {
    display: flex;
    gap: 20px;
>>>>>>> 28c14a75d943212d25bd4a3655c1773a13693ee6
}

.card {
    width: 200px;
    height: 300px;
    perspective: 1000px; /* Для создания 3D-эффекта */
    cursor: pointer;
<<<<<<< HEAD
=======
    perspective: 1000px;
>>>>>>> 28c14a75d943212d25bd4a3655c1773a13693ee6
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Скрываем обратную сторону */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    transition: transform 0.6s;
    border-radius: 10px;
    background-color: #fff;
}

.front {
    background-color: #fff;
<<<<<<< HEAD
=======
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    transition: transform 0.6s;
    background-color: white;
}
.front {
    background-color: white;
>>>>>>> 28c14a75d943212d25bd4a3655c1773a13693ee6
}

.back {
    background-color: #4CAF50;
<<<<<<< HEAD
    transform: rotateY(180deg); /* Прячем заднюю сторону */
=======
    transform: rotateY(180deg); 
>>>>>>> 28c14a75d943212d25bd4a3655c1773a13693ee6
}

.card.flipped .front {
    transform: rotateY(180deg); 
}

.card.flipped .back {
<<<<<<< HEAD
    transform: rotateY(0deg); /* Показываем заднюю сторону */
=======
    transform: rotateY(0deg); 
    transform: rotateY(180deg); 
}

.card.flipped .front {
    transform: rotateY(180deg);
}

.card.flipped .back {
    transform: rotateY(0deg); 
>>>>>>> 28c14a75d943212d25bd4a3655c1773a13693ee6
}
